@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏默认滚动条 */
@layer utilities {
  .hide-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.pink.200') transparent;
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .hide-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: theme('colors.pink.200');
    border-radius: 3px;
  }
} 